@model bacit_dotnet.MVC.Models.SuggestionsModel
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

    <div class="sidemeny">
        <input type="text" placeholder="Søk" class="søk"> <br> <br>
        <p>Status</p>

            <div class="Options Oalle " onclick="location.href='/Suggestions/AllSug';">ALLE</div>
            <div class="Options Oplan" onclick="location.href='/Suggestions/AllSugPlan';">PLAN</div>
            <div class="Options Odo" onclick="location.href='/Suggestions/AllSugDo';">DO</div>
            <div class="Options Ostudy" onclick="location.href='/Suggestions/AllSugStudy';">STUDY</div>
            <div class="Options Oact OptAct" onclick="location.href='/Suggestions/AllSugAct';">ACT</div> <br>
    </div>


    <ul class="alleforslag">
        <p>Månedens forslag</p>
        <p>Alle forslag</p>
        @foreach (var user in Model.suggestions) 
        {
            <div class="@user.Sug_Status status"> @user.Sug_Status</div>

            <div class="forslagsliste" onclick="location.href='Save?id=@user.Sug_ID';" style="cursor: pointer;"> 
                <div class="SugOverskrift"> @user.Sug_Overskrift</div>
                <div class="frist">
                    <img class="alarmIcon" src="https://cdn-icons-png.flaticon.com/512/3602/3602134.png">
                    Frist: @user.Sug_Frist
                </div>
                <div class="ansvarlig">Ansvarlig: @user.Sug_Ansvarlig</div>
                <div class="gåinn"> > </div>
            </div> 
            // location.href='save' gjør classen "clickable" så du sendes videre til "savecshtml"
        } 
    </ul>

