@model dynamic

<style>
 .knapp {
       padding: 15px;
        background-color: #717e74;
        border-radius: 5px;
        color: white;
        border: none;
        width: 180px;
        text-decoration: none;
    }

    .knapp:hover {
        color: black;
        background-color: #ced0f2;
    }
</style>

@foreach(var user in  Model.suggestions){
<div class="lageforslag">
<input type="button" value="Tilbake" class= "button-back" onclick="history.go(-1);" />

<form action="/suggestions/update" method="post">
<ul style="list-style: none;">
        <input type="hidden" name="Sug_ID" value=@user.Sug_ID />

    <li>
        <input required="required" type="text" name="Sug_Overskrift" placeholder="Tittel" class="tittel" value=@user.Sug_Overskrift /> 
    </li><br>
    <div class="inputs">
    <li>
        <label for="Sug_Beskrivelse">Hva går forslaget ut på? </label> <br>
        <textarea required="required"  type="text" name="Sug_Beskrivelse" placeholder="Beskriv forslag her..." class="beskrivelse" >@user.Sug_Beskrivelse</textarea> 
    </li><br>
    <li>
        <label for="Sug_Ansvarlig">Hvem er ansvarlig for at dette blir gjort?</label> <br>
        <input required="required" type="text" name="Sug_Ansvarlig" placeholder="Forslagsansvarlig" Value=@user.Sug_Ansvarlig />
    </li><br>
     <li>
        <label for="Emp_Nr">Hvem sitt forslag var det?</label> <br>
        <select id="DropDownList1" name="Emp_Nr" required> 
       @foreach (var user in Model.Users){
            <option value= "@user.Emp_Nr">@user.Emp_Navn</option>
       }

     
        </select>
    </li><br>
    
                <li>
                        <label for="Executor_Nr">Hvem utførte forslaget?</label> <br>
                        <select id="DropDownList2" name="Executor_Nr" required> 
                            @foreach (var user in Model.Users){
                                    <option value= "@user.Executor_Nr">@user.Emp_Navn</option>
                            }
                        </select>
                </li><br>

    <li>
        <label for="Sug_Status">Status for forslaget</label> <br>
        <select name="Sug_Status" required> 
        <option value="">Ingen</option>
        <option value="plan">Plan</option> 
        <option value="do">Do</option>
        <option value="study">Study</option>
        <option value="act">Act</option>
        </select>
    </li><br>
    <li>
        <label for="Sug_Frist">Når skal dette være gjort?</label> <br>
        <input required="required" type="text" name="Sug_Frist" placeholder="Frist" Value=@user.Sug_Frist />
    </li><br>
    <li>
        <label for="Sug_Varighet">Hva er varigheten på forslaget?</label> <br>
        <input type="radio" name="Sug_Varighet" id="kortsiktig" value="Kortsiktig"/>
        <label for="kortsiktig">Kortsiktig </label> <br>
        <input type="radio" name="Sug_Varighet" id="langsiktig" value="Langsiktig" />
        <label for="langsiktig">Langsiktig</label> <br>
    </li><br>
    <li>
        <label for="Sug_VedleggEn">Før-bilde 'Denne må fikses'</label> <br>
        <input type="byte" name="Sug_VedleggEn" />
    </li><br>
    <li>
        <label for="Sug_VedleggTo">Etter-Bilde 'denne må fikses'</label> <br>
        <input type="byte" name="Sug_VedleggTo" />
    </li><br>
    <li>
        <a class="knapp" href="/Suggestions/Save?id=@user.Sug_ID">Send Inn</a>
    </li><br>
     </div>
</ul>
</form> 
</div>
}
