@model bacit_dotnet.MVC.Models.Suggestions.SuggestionViewModel


<p>Månedens forslag</p>

<p>Alle forslag</p>

<div style="border: 1px solid black; padding: 20px;">
<h4> Tittel: @Model.Sug_Overskrift</h4>
<p> Beskrivelse: @Model.Sug_Beskrivelse</p>
<p> Ansvarlig: @Model.Sug_Ansvarlig</p>
<p> Status: @Model.Sug_Status</p>
<p> Frist: @Model.Sug_Frist</p>
<p> Varighet: @Model.Sug_Varighet</p>
<p> Varighet: @Model.Sug_VedleggEn</p>
<p> Varighet: @Model.Sug_VedleggTo</p>
<p> Sendt inn: @Model.Sug_Timestamp</p>


</div>
