@model bacit_dotnet.MVC.Models.Suggestions.SuggestionViewModel


<p>Månedens forslag</p>

<p>Alle forslag</p>

<h3> Tittel: @Model.Title</h3>
<p style="color: blue;"> Navn: @Model.Name
    Beskrivelse: @Model.Description
    Team: @Model.Team
    Dato: @Model.TimeStamp
</p>