@model bacit_dotnet.MVC.Models.SuggestionsModel


<style>
.forslag {
        box-shadow:  0px 2px 8px 0px #959da5;
        width: 250px;
        height: 350px;
        border-radius: 10px;
        margin: 20px;
        padding: 15px;
   }


.bakgrunn {
        position: relative;
        width: 900px;
        height: 550px;
        left: 380px;
        border-radius: 10px;
        box-shadow:  0px 2px 8px 0px #959da5;
        padding-right:55px;
        padding-left:50px;
        padding-bottom:50px;
        padding-top: 140px;
        margin-top: 50px;
   }

.bildefor{
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 180px;
        height: 190px;
        position:absolute; 
        left: 385px; top:310px;
   }

  .bildeetter{
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 180px;
        height: 190px;
        position:absolute; 
        left:640px; top:310px; 
   }


.tittel{
        position:absolute; 
        left:70px;  
        margin-top: -75px;
        font-size: 20px;
   }

  .sidemeny {
        width: 250px;
        position: fixed;
        top: 150px;
        left: 25px;
        padding: 8px 0;
    }

    .beskrivelse {
        float: right; 
        margin-top: 20px;
        width: 58%;
     }

     .knapper {
        border-width: 2px;
        border-radius: 6px;
        color: black;
        font-size: medium;
        background-color: white;
        transition-duration: 0,4s;
        cursor: pointer;
        position: relative;
        left: 600px;
        float: left;
        clear: none; 
        margin-left: 4%;
        margin-right: 4%;
        padding-left: 7%;
        padding-right: 7%;
        -webkit-appearance: none; 
    }

    .knapper1:hover {
        
        color: black;
        border-color:  #1c2287;  
        border-radius: 6px;
        border width: 2px;
        background-color: #ced0f2;
    }

    .knapper2:hover {
        
        color: black;
        border-color: #942519;
        border-radius: 6px;
        border-width: 2px;
        background-color: #f7dad7;
    }  

     .bildefor {
        border: none;
    }

     .bildeetter {
        border: none;
    }

    #beskrivelse {
        position: relative;
        left: 1%;
    }

</style>



@foreach(var user in  Model.suggestions){
<div class= bakgrunn> 
<div class= tittel><b><h4>@user.Sug_Overskrift</h4></b></div>
<textarea ID=beskrivelse class = beskrivelse> Beskrivelse: @user.Sug_Beskrivelse </textarea>
<div class= forslag>
<p> <b>Ansvarlig:</b><br>@user.Sug_Ansvarlig</p> 
<p> <b>Status:</b><br>@user.Sug_Status</p>
<p> <b>Frist:</b><br>@user.Sug_Frist</p>
<p> <b>Varighet:</b><br>@user.Sug_Varighet</p>
<p> <b>Sendt inn:</b><br>@user.Sug_Timestamp</p>


<div class= bildefor>Før bilde @user.Sug_VedleggEn</div>
<div class= bildeetter>Etter bilde @user.Sug_VedleggTo</div>

<div>
<a class="knapper knapper1" href="/Suggestions/Edit?id=@user.Sug_ID">Edit</a> 
<a class="knapper knapper2" href="/Suggestions/Delete?id=@user.Sug_ID">Delete</a>


</div>
</div>
</div>

 <div class="sidemeny">
        <input type="text" placeholder="Søk" style="height:50px;">
        <p>Status</p>
            <input type="checkbox" id="plan" name="plan" value="Plan">
            <label for="plan"> Plan</label><br>
            <input type="checkbox" id="do" name="do" value="Do">
            <label for="do"> Do</label><br>
            <input type="checkbox" id="study" name="study" value="Study">
            <label for="study"> Study</label><br>
            <input type="checkbox" id="act" name="act" value="Act">
            <label for="act"> Act</label> <br> <br>
        <p>Frist</p>
            <input type="date">

    </div>

}
