@model dynamic



<style>
.forslag {
        box-shadow:  0px 2px 8px 0px #959da5;
        width: 250px;
        height: 430px;
        border-radius: 10px;
        margin: 20px;
        padding: 15px;
   }


.bakgrunn {
        position: relative;
        width: 900px;
        height: 650px;
        left: 240px;
        border-radius: 10px;
        box-shadow:  0px 2px 8px 0px #959da5;
        padding-right:55px;
        padding-left:50px;
        padding-bottom:50px;
        padding-top: 140px;
        margin-top: 50px;
   }

.bildefor{
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 180px;
        height: 190px;
        position:absolute; 
        left: 385px; top:310px;
   }

  .bildeetter{
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 180px;
        height: 190px;
        position:absolute; 
        left:640px; top:310px; 
   }


.tittel{
        position:absolute; 
        left:200px;  
        margin-top: -85px;
        font-size: 40px;
   }

  .sidemeny {
        width: 250px;
        position: fixed;
        top: 150px;
        left: 25px;
        padding: 8px 0;
    }

    .beskrivelse {
        float: right; 
        margin-top: 20px;
        width: 58%;
        position: relative;
        left: 1%;
     }

     .knapper {
        border-radius: 6px;
        border: 1px solid black;
        color: black;
        font-size: medium;
        cursor: pointer;
        position: relative;
        left: 600px;
        float: left;
        margin: 4%;
        padding-left: 7%;
        padding-right: 7%;
        text-decoration:none;
    }

    .knapper1:hover {
        color: black;
        background-color: #ced0f2;
        
    }

    .knapper2:hover {
        color: black;
        background-color: #f7dad7;
    }  
     .bildefor {
        border: none;
    }

     .bildeetter {
        border: none;
    }

    .plan {
    background: #f5ebad;
    }
    .do {
    background: #b3f5ad;
    }
    .study {
    background: #f9e4ed;
    }
    .act{
    background: #add1f5;
    }
    #status {
        height: 50px;
        width: 100px;
        text-align: center;
        position: absolute;
        left:80px;  
        margin-top: -75px;
        border-radius: 5px;
        padding: 10px;
    }
    .mndSug{
        width: 25px;
        height: 25px;
    }

</style>



@foreach(var user in  Model.suggestions){
<div class= bakgrunn> 
    <div>
        <div ID="status" class = "@user.Sug_Status">@user.Sug_Status</div><div class= "tittel">@user.Sug_Overskrift</div> 
    </div>
    <div class = "beskrivelse"> Beskrivelse: @user.Sug_Beskrivelse </div>
    
    <div class= "forslag">
        <p> <b>Ansvarlig:</b><br>@user.Sug_Ansvarlig</p> 

        @foreach (var users in Model.Proposers)
        {
        <p> <b>Sendt inn av:</b><div value = "@users.Emp_Nr">@users.Emp_PrNavn</div></p>
        }
        @foreach (var users in Model.Users)
        {
         <p> <b>Utført av:</b><div value = "@users.Executor_Nr">@users.Emp_ExNavn</div></p> 
        }

        <p> <b>Frist:</b><br>@user.Sug_Frist</p>
        <p> <b>Varighet:</b><br>@user.Sug_Varighet</p>
        <p> <b>Sendt inn:</b><br>@user.Sug_Timestamp</p>

        <div class= "bildefor">Før bilde @user.Sug_VedleggEn</div>
        <div class= "bildeetter">Etter bilde @user.Sug_VedleggTo</div>

        <div>
        <label for="mndSug"> Månedens forslag</label><br>
        <input type="checkbox" class="mndSug" name="mndSug">
        <a class="knapper knapper1" href="/Suggestions/Edit?id=@user.Sug_ID">Edit</a> 
        <a class="knapper knapper2" href="/Suggestions/Delete?id=@user.Sug_ID">Delete</a>
        </div>
    </div>
</div>


}
