@model dynamic

<head>
    <link rel="stylesheet" href="~/css/view.css" asp-append-version="true" />
</head>

@foreach (var user in  Model.suggestions){
<div class= "EttForslagBakgrunn"> 
    <input type="button" value="Tilbake" class= "button-back" onclick="history.go(-1);" />
    <div>
        <div id="Enstatus" class="@user.Sug_Status">@user.Sug_Status</div>
        <div class="Entittel">@user.Sug_Overskrift</div> 
    </div>
        <div class="Enbeskrivelse"> Beskrivelse: @user.Sug_Beskrivelse </div>
    
    <div class="forslagsInfo">
        <p> <b>Ansvarlig:</b><br>@user.Sug_Ansvarlig</p> 
        
        @foreach (var users in Model.Proposers){
            <p> 
                <b>Sendt inn av:</b>
                <div value="@users.Emp_Nr"> @users.Emp_PrNavn</div>
            </p>
        }
      
        @foreach (var users in Model.Users){
            <p> 
                <b>Utført av:</b>
                <div value="@users.Executor_Nr"> @users.Emp_ExNavn</div>
            </p> 
        }

        <p> <b>Frist:</b><br>@user.Sug_Frist</p>
        <p> <b>Varighet:</b><br>@user.Sug_Varighet</p>
        <p> <b>Sendt inn:</b><br>@user.Sug_Timestamp</p>

        <div class="Enbilde Enbildefor">Før bilde @user.Sug_VedleggEn</div>
        <div class="Enbilde Enbildeetter">Etter bilde @user.Sug_VedleggTo</div>

        <div>
        <a class="EdiDel edit">Edit</a> 
        <a class="EdiDel delete">Delete</a>
        </div>
    </div>
</div>
}